{
  "CLIENT_ID": "",
  "FIREBASE_APP_ID": "",
  "FIREBASE_ANDROID_API_KEY": "",
  "FIREBASE_WEB_API_KEY": "",
  "FIREBASE_SENDER_ID": "",
  "FIREBASE_PROJECT_ID": "",
  "FIREBASE_STORAGE_BUCKET": "",
  "FIREBASE_AUTH_DOMAIN": "",
  "FIREBASE_MEASUREMENT_ID": "",
  "STEAM_API_KEY": "",
  "USER_ADDRESS": "",
  "FRIENDS_ADDRESS": "",
  "REGISTRATION_ADDRESS": "",
  "GROUPS_ADDRESS": "",
  "GAMES_ADDRESS": ""
}