{
  "CLIENT_ID": "",
  "FIREBASE_APP_ID": "",
  "FIREBASE_API_KEY": "",
  "FIREBASE_SENDER_ID": "",
  "FIREBASE_PROJECT_ID": "",
  "STEAM_API_KEY": "",
  "USER_ADDRESS": "",
  "FRIENDS_ADDRESS": "",
  "REGISTRATION_ADDRESS": "",
  "GROUPS_ADDRESS": "",
  "GAME_ADDRESS": "",
}